{% extends "base_template.html" %}
{% block title %}Sorting Algorithm Visualization{% endblock %}
{% block body %}
<div class="container-fluid pt-3">
    <p class="lead text-center">
        This website is created to visualize on how the sorting algorithms work.
        I am inspired by <a class="font-weight-bolder" href="http://qiao.github.io/PathFinding.js/visual/">Qiao</a>
        which provides the visualization on how the Searching Algorithms work to produce this web application.
    </p>
    </br>
    <p class="lead text-center">
        The source code for this website is based on <a class="font-weight-bolder" href="https://github.com/onghengkiat/SA-Visualization">SA-Visualization</a>.
        Feel free to visit it. This is a mini project created by me to practice on the jquery and bootstrap.
    <strong>
        Reminder: This website is purposely created to be opened on a computer.
        It would not be that compatible when it is opened on a small screen.
    </strong>
    </p>
</div>
{% endblock %}