{% extends "sorting_template.html" %}
{% block title %}Bubble Sort Algorithm{% endblock %}

{% block sorting %}
<script src="static/js/bubble_sort.js"></script>
{% endblock %}

{% block description %}
<strong>Bubble Sort</strong></br>
Bubble sort uses several iterations to check the list.
Begin with the first element, if the current element is greater than the next element, 
the elements are swap. The first iteration would the largest element into the last position.
{% endblock %}

{% block color %}
The vertical bars with <strong style="color:green;">green</strong> color refer to "comparing"
while the vertical bars <strong style="color:red;">red</strong> color refer to "swaping"
{% endblock %}