{% extends "sorting_template.html" %}
{% block title %}Insertion Sort Algorithm{% endblock %}

{% block sorting %}
<script src="static/js/insertion_sort.js"></script>
{% endblock %}


{% block description %}
<strong>Insertion Sort</strong></br>
Insertion sort insert the element in its proper place. 
Each successive element in the list to be sorted is inserted into its proper place.
Insertion sort is better than selection sort and bubble sort when the list is sorted because only one comparison is made and no swaps are necessary.
{% endblock %}

{% block color %}
The vertical bars with <strong style="color:green;">green</strong> color refer to "comparing"
while the vertical bars <strong style="color:red;">red</strong> color refer to "swaping"
{% endblock %}